<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <h2>Mini Projet Flask</h2>
           <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="add_student">Ajouter Etudiant</a></li>
                <li><a href="listes_students">Voir Etudiants</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
            <div class="container">
                 <div class="container-text">
                    <h1>Bienvenue sur l'interface de gestion.</h1>
                    <p>L'objectif de cette mini application de gestion des etudiants
                        est de se familiariser avec le Framework Python Flask 
                        en utilisant aussi : SQLALCHEMY, SQlite...
                    </p>
                 </div>
                 <img src="./static/images/image1.jpg" alt="image_home">
           </div>
    </main>


    <tfoot>
        <footer>
                &copy; Copyright 2026 - Mauritania 

        </footer>
    </tfoot>

    

</body>
</html>